<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

    <system.diagnostics>
        <trace autoflush="true" />
        <sources>
            <!-- To turn on WCF service logging, set switchValue="All" -->
            <source name="System.ServiceModel" switchValue="All" propagateActivity="true">
                <listeners>
                    <!-- For deployment to different environments transform the file path below. Attribute initializeData -->
                    <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Aspects\Logs\RequestResponseService.svclog" />
                </listeners>
            </source>

            <!-- To turn on WCF message logging, set switchValue="All" -->
            <source name="System.ServiceModel.MessageLogging" switchValue="All">
                <listeners>
                    <add name="messageListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Aspects\Logs\RequestResponseService.svclog" />
                </listeners>
            </source>

            <!--
            <source name="System.Net"
                    tracemode="includehex"
                    maxdatasize="1024">
                <listeners>
                    <add name="System.Net" />
                </listeners>
            </source>
            -->
            <!-- Some private and internal methods in System.Net.Cache: -->
            <!--<source name="System.Net.Cache">
                <listeners>
                    <add name="System.Net"/>
                </listeners>
            </source>-->
            <!-- Some public methods of the HttpClient, DelegatingHandler, HttpClientHandler, HttpMessageHandler, 
                 MessageProcessingHandler, and WebRequestHandler classes: -->
            <!--<source name="System.Net.Http">
                    <listeners>
                        <add name="System.Net" />
                    </listeners>
                </source>-->
            <!-- Some public methods of the Socket, TcpListener, TcpClient, and Dns classes: -->
            <!--<source name="System.Net.Sockets">
                <listeners>
                    <add name="System.Net"/>
                </listeners>
            </source>-->
            <!-- Some public methods of the ClientWebSocket and WebSocket classes: -->
            <!--<source name="System.Net.WebSockets">
                <listeners>
                    <add name="System.Net"/>
                </listeners>
            </source>-->
            <!-- Some public methods of the HttpWebRequest, HttpWebResponse, FtpWebRequest, and FtpWebResponse classes, 
                 and SSL debug information (invalid certificates, missing issuers list, and client certificate errors): -->
        </sources>
        <!--<switches>
            <add name="System.Net"
                 value="Verbose" />
            <add name="System.Net.Cache"
                 value="Critical" />
            <add name="System.Net.Http"
                 value="Verbose" />
            <add name="System.Net.Sockets"
                 value="Critical" />
            <add name="System.Net.WebSockets"
                 value="Critical" />
        </switches> -->
        <sharedListeners>
            <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Aspects\Logs\System.Net.log" />
        </sharedListeners>
    </system.diagnostics>

    <system.serviceModel>

        <protocolMapping>
            <!--<add binding="basicHttpsBinding"
                 scheme="https" />-->
            <add scheme="http" binding="wsHttpBinding" />
        </protocolMapping>

        <diagnostics>
            <!--To turn on WCF logging set logXyz="false" below -->
            <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtTransportLevel="true" logMessagesAtServiceLevel="true" logKnownPii="true" maxMessagesToLog="1000" />
            <endToEndTracing propagateActivity="true" messageFlowTracing="true" />
        </diagnostics>
    </system.serviceModel>

    <system.web>
        <httpRuntime maxRequestLength="2147483647" />
    </system.web>

</configuration>
