<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="enterpriseLibrary.ConfigurationSource"
                 type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common"
                 requirePermission="true" />
        <section name="loggingConfiguration"
                 type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 requirePermission="true" />
    </configSections>

    <loggingConfiguration name="Logging Application Block"
                          tracingEnabled="false"
                          defaultCategory="General"
                          revertImpersonation="false">
        <listeners>
            <!-- For deployment to different environments transform the file name of the log file below. Attribute fileName -->
            <add name="Rolling Flat File"
                 type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 fileName="C:\Aspects\Logs\AsyncCallContextTestService events.log"
                 footer="--------------------------"
                 formatter="Text"
                 header="**************************"
                 rollInterval="Midnight"
                 rollSizeKB="10000"
                 maxArchivedFiles="20"
                 filter="All" />
            <!-- For deployment to different environments transform the file name of the log file below. Attribute fileName -->
            <add name="Rolling Flat File Call Trace"
                 type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 fileName="C:\Aspects\Logs\AsyncCallContextTestService calls trace.log"
                 footer=""
                 formatter="Call Logging"
                 header=""
                 rollInterval="Midnight"
                 rollSizeKB="10000"
                 maxArchivedFiles="20" />
            <!-- For deployment to different environments transform the file name of the log file below. Attribute fileName -->
            <add name="Rolling Flat File Loggers Errors"
                 type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 fileName="C:\Aspects\Logs\AsyncCallContextTestService logger errors.log"
                 footer="--------------------------"
                 formatter="Text"
                 header="**************************"
                 rollInterval="Midnight"
                 rollSizeKB="10000"
                 maxArchivedFiles="20"
                 filter="Warning" />
            <add name="Event Log - Full Text"
                 type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 source="Test.Services"
                 formatter="Text"
                 log="Application"
                 filter="Warning" />
            <add name="Event Log - Message Only"
                 type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 source="AsyncCallContextTestService"
                 formatter="Message Only"
                 log="Application"
                 filter="All" />
            <!-- For deployment to different environments transform/remove the e-mail settings below. -->
            <add name="Email Trace Listener"
                 type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 toAddress="valo@vtmelamed.com"
                 fromAddress="AsyncCallContextTestService &lt;valo@vtmelamed.com&gt;"
                 subjectLineStarter="AsyncCallContextTestService - "
                 subjectLineEnder="Log Message"
                 smtpServer="email.vtmelamed.com"
                 formatter="Text"
                 authenticationMode="UserNameAndPassword"
                 useSSL="true"
                 userName="valo@vtmelamed.com"
                 password="password" />
            <!-- For deployment to different environments transform/remove the listener altogether. -->
            <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.SystemDiagnosticsTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 type="System.Diagnostics.DefaultTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                 filter="All"
                 name="VS Output Pane" />
        </listeners>
        <formatters>
            <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 template="{timestamp(local:FixedFormatTime)} App Domain: {appDomain} ActivityId: {property(ActivityId)}&#xA;{category}: {severity} {eventid} @ {localMachine}&#xA;{message}&#xA;Process: {localProcessName}&#xA;{dictionary(    {key} - {value}{newline})}"
                 name="Text" />
            <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 template="{timestamp(local:FixedFormatTime)} thread: {win32ThreadId} ActivityId: {property(ActivityId)} {message} {dictionary(    {tab}{key}={value}{newline})}"
                 name="Call Logging" />
            <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 template="App Domain: {appDomain} ActivityId: {property(ActivityId)}&#xA;{message}&#xA;{dictionary(    {key} - {value}{newline})}"
                 name="DB Text" />
            <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                 template="{message}&#xA;&#xA;App Domain: {appDomain} ActivityId: {property(ActivityId)}&#xA;{dictionary(        {tab}{key} - {value}{newline})}"
                 name="Message Only" />
        </formatters>
        <categorySources>
            <add name="General"
                 switchValue="All">
                <listeners>
                    <add name="Rolling Flat File" />
                    <add name="VS Output Pane" />
                </listeners>
            </add>
            <add name="Alert"
                 switchValue="Critical">
                <listeners>
                    <add name="Rolling Flat File" />
                    <add name="Event Log - Full Text" />
                </listeners>
            </add>
            <add name="Exception"
                 switchValue="Warning">
                <listeners>
                    <add name="Rolling Flat File" />
                    <add name="Event Log - Full Text" />
                </listeners>
            </add>
            <add name="Trace"
                 switchValue="All">
                <listeners>
                    <add name="Rolling Flat File" />
                    <add name="VS Output Pane" />
                </listeners>
            </add>
            <add name="Start Call Trace"
                 switchValue="All">
                <listeners>
                    <add name="Rolling Flat File Call Trace" />
                </listeners>
            </add>
            <add name="End Call Trace"
                 switchValue="All">
                <listeners>
                    <add name="Rolling Flat File Call Trace" />
                </listeners>
            </add>
            <add name="Event Log"
                 switchValue="All">
                <listeners>
                    <add name="Event Log - Message Only" />
                </listeners>
            </add>
            <!-- For deployment to different environments transform/remove the category altogether. -->
            <add name="Email Message"
                 switchValue="All">
                <listeners>
                    <add name="Event Log - Message Only" />
                </listeners>
            </add>
        </categorySources>
        <specialSources>
            <!-- For deployment to different environments transform/remove the source altogether. -->
            <allEvents name="All Events"
                       switchValue="Verbose">
                <listeners>
                    <add name="VS Output Pane" />
                </listeners>
            </allEvents>
            <notProcessed name="Unprocessed Category"
                          switchValue="Warning">
                <listeners>
                    <add name="Rolling Flat File Loggers Errors" />
                    <add name="Event Log - Full Text" />
                </listeners>
            </notProcessed>
            <errors name="Logging Errors &amp; Warnings"
                    switchValue="Warning">
                <listeners>
                    <add name="Rolling Flat File Loggers Errors" />
                    <add name="Event Log - Full Text" />
                </listeners>
            </errors>
        </specialSources>
    </loggingConfiguration>

</configuration>