<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="unity"
                 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration, Version=5.2.1.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f" />
    </configSections>

    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <assembly name="vm.Aspects.Tests"/>
        <namespace name="vm.Aspects.Tests" />

        <container>
            <register type="ITestTarget"
                      mapTo="TestTargetFromTestConfig"/>

            <register type="RegisteredTargetTypeInTestConfig" />
        </container>

        <container name="box">
            <register type="ITestTarget"
                      mapTo="TestTargetFromTestConfigBox"/>
        </container>
    </unity>
</configuration>