<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="unity"
                 type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    </configSections>

    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <assembly name="vm.Aspects.Tests"/>
        <namespace name="vm.Aspects.Tests" />

        <container>
            <register type="IDIContainerTest"
                      mapTo="DIContainerFromTestConfigNoneSuch"/>
        </container>

        <container name="box">
            <register type="IDIContainerTest"
                      mapTo="DIContainerFromTestConfigBoxNoneSuch"/>
        </container>
    </unity>
</configuration>