<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>

    <connectionStrings>
        <add name="TestPCCRCHT" connectionString="Server=.\SQLExpress;Database=TestPCCRCHT; Integrated Security=SSPI; Application Name=TestPCCRCHT; MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.diagnostics>
        <trace autoflush="true" />
        <sources>
            <!-- To turn on/off WCF service logging, set switchValue="All"/"Off" -->
            <source name="System.ServiceModel" switchValue="Off" propagateActivity="true">
                <listeners>
                    <!-- For deployment to different environments transform the file path below. Attribute initializeData -->
                    <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Aspects\Logs\TestService.svclog" />
                </listeners>
            </source>

            <!-- To turn on/off WCF message logging, set switchValue="All"/"Off" -->
            <source name="System.ServiceModel.MessageLogging" switchValue="Off">
                <listeners>
                    <add name="messageListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Aspects\Logs\TestService.svclog" />
                </listeners>
            </source>

            <!--
            <source name="System.Net"
                    tracemode="includehex"
                    maxdatasize="1024">
                <listeners>
                    <add name="System.Net" />
                </listeners>
            </source>
            -->
            <!-- Some private and internal methods in System.Net.Cache: -->
            <!--<source name="System.Net.Cache">
                <listeners>
                    <add name="System.Net"/>
                </listeners>
            </source>-->
            <!-- Some public methods of the HttpClient, DelegatingHandler, HttpClientHandler, HttpMessageHandler, 
                 MessageProcessingHandler, and WebRequestHandler classes: -->
            <!--<source name="System.Net.Http">
                    <listeners>
                        <add name="System.Net" />
                    </listeners>
                </source>-->
            <!-- Some public methods of the Socket, TcpListener, TcpClient, and Dns classes: -->
            <!--<source name="System.Net.Sockets">
                <listeners>
                    <add name="System.Net"/>
                </listeners>
            </source>-->
            <!-- Some public methods of the ClientWebSocket and WebSocket classes: -->
            <!--<source name="System.Net.WebSockets">
                <listeners>
                    <add name="System.Net"/>
                </listeners>
            </source>-->
            <!-- Some public methods of the HttpWebRequest, HttpWebResponse, FtpWebRequest, and FtpWebResponse classes, 
                 and SSL debug information (invalid certificates, missing issuers list, and client certificate errors): -->
        </sources>
        <!--<switches>
            <add name="System.Net"
                 value="Verbose" />
            <add name="System.Net.Cache"
                 value="Critical" />
            <add name="System.Net.Http"
                 value="Verbose" />
            <add name="System.Net.Sockets"
                 value="Critical" />
            <add name="System.Net.WebSockets"
                 value="Critical" />
        </switches> -->
        <sharedListeners>
            <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Aspects\Logs\System.Net.log" />
        </sharedListeners>
    </system.diagnostics>

    <system.serviceModel>
        <protocolMapping>
            <!--<add binding="basicHttpsBinding"
                 scheme="https" />-->
            <add scheme="http" binding="wsHttpBinding" />
        </protocolMapping>

        <diagnostics>
            <!--To turn on WCF logging set logXyz="false" below -->
            <messageLogging logEntireMessage="false" logMalformedMessages="false" logMessagesAtTransportLevel="false" logMessagesAtServiceLevel="false" logKnownPii="false" maxMessagesToLog="1000" />
            <endToEndTracing propagateActivity="false" messageFlowTracing="false" />
        </diagnostics>
    </system.serviceModel>

    <system.web>
        <httpRuntime maxRequestLength="2147483647" />
    </system.web>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>