<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="vm All Rules" Description="This rule set contains almost all rules  - it is the the modified Microsoft All Rules." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1004" Action="None" />
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1304" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA2202" Action="None" />
    <Rule Id="CA2204" Action="None" />
  </Rules>
</RuleSet>